<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PayGuard Plus - Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1 class="m-5">PayGuard Plus - Login Page</h1>
        <form method="POST" action="">

            <div class="mb-3">
                {{ form.hidden_tag() }}
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                {{ form.username }}

            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                {{ form.password }}
            </div>

            {{ form.submit }}
        </form>
    </div>
    <div class="container">
        <button type="button" class="btn btn-outline-success mt-5"><a href="{{url_for('register')}}">Don't have an
                account ? Register</a></button>
    </div>


    <!-- ======= Footer ======= -->
    <footer id="footer" class="container mt-5">

        <div class="footer-content">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a href="/" class="logo d-flex align-items-center">
                            <span>PayGuard Plus</span>
                        </a>
                        <p>The team of software engineers behind the creation of an AI model website for detecting
                            fraudulent
                            payments was a diverse and highly skilled group. Comprising experts in machine learning,
                            data analysis,
                            and web development, they combined their collective knowledge to design a cutting-edge
                            solution. Their
                            project began with rigorous data collection and preparation, utilizing advanced algorithms
                            to identify
                            suspicious patterns and anomalies in payment transactions. Collaborating seamlessly, they
                            iteratively
                            improved the model's accuracy and efficiency. Their dedication to fraud detection technology
                            not only
                            enhanced the website's security but also contributed to the broader efforts in combating
                            online financial
                            fraud, earning them recognition for their innovative and impactful work.</p>
                        <div class="social-links d-flex  mt-3">
                            <a href="/" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="/" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="/" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bi bi-dash"></i> <a href="/">Home</a></li>

                            <li><i class="bi bi-dash"></i> <a href="/">About us</a></li>

                            <li><i class="bi bi-dash"></i> <a href="/">Services</a></li>

                            <li><i class="bi bi-dash"></i> <a href="/">Privacy policy</a></li>
                        </ul>
                    </div>


                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                        <h4>Contact Us</h4>
                        <p>
                            VIT Vellore <br>
                            Katpadi, Vellore, Tamil Nadu<br>
                            India - 632014 <br><br>
                            <strong>Phone:</strong> +91 9643973760<br>
                            <strong>Email:</strong> akshitbahl.ab@gmail.com<br>
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <div class="footer-legal">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>PayGuard Plus</span></strong>. All Rights Reserved
                </div>
            </div>
        </div>
    </footer><!-- End Footer --><!-- End Footer -->


    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/aos/aos.js"></script>
    <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/assets/js/main.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>